
h1 {color:#FFFFFF; font-family: "Lucida Handwriting", Monaco;}

h2 {color:#FFFFFF; font-family: "Lucida Handwriting", Monaco;}

h3 {color:#EDDBFD; font-family: "Lucida Handwriting", Monaco;}

h4 {color:#EDDBFD; font-family: "Lucida Handwriting", Monaco;}

p {color:#F2F5FC; font-family: Montserrat, Monaco;}

a {color:#D7F3DB; font-family: Montserrat, Monaco;}

li {color:#C7A8E4; font-family: Montserrat, Monaco;}

highlight-green {
  background: linear-gradient(180deg, #543B6E 60%, #89B89E 60%);
  color: #FFFFFF;
  font-size: 1.7em;
  font-family: Montserrat, Monaco;
}

proj-details {
  color: #FFFFFF; 
  margin-left: 0.5%;
  font-family: Montserrat, Monaco;
}