/* style for all "pages" on my website  */
    h1 {
      color:rgb(255, 255, 255);
    }
    h3 {
      color:rgb(237, 219, 253);
    }
    p {
      color:#F2F5FC; 
      width: 70%;
      margin: auto;
      border: 1px solid red;
    }
    a {
      color:rgb(215, 243, 219);
    }
